body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

h2 {
    color: white;
    font-family: 'Lato', sans-serif;
    background: #E805F6;
    box-shadow: 0px 0px 15px #E805F6;
    border-radius: 20px;
    padding: 5px;

}

h4 {
    font-family: 'Lato', sans-serif;
    color: white
}

h4.radar-song1 { color:#F834BE ;font-weight:bold;font-family:'Lato';font-size:20 }
h4.radar-song2 { color: orange ;font-weight:bold;font-family:'Lato';font-size:20 }

subheading {
    font-family: 'Lato', sans-serif;
    color: white 
}

label{
    font-family: 'Lato', sans-serif;
    color: white
}


.axisWhite line{
stroke: white;
}

.axisWhite path{
stroke: white;
}

.axisWhite text{
    fill: white;
}  

.songs {
    background-color: #E805F6;
    font-family: 'Lato', sans-serif;
    white-space: normal;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
    pointer-events: none;
    color: white;
    float: left;
    box-shadow: 0px 0px 5px #E805F6;
    margin: 15px;
}

  
  .progress-container {
    z-index: 15;
  position: fixed;
  width: 15px;
  height: 100%;
  background:black;
  transform: translate(-12px, -100px);
  }
  
  .progress-bar {
    background: #4AE7E3;;
    height: 8px;
  }