body {
    background-color: black;
}

h1 {
    color: white
}

subheading {
    color: white
}

label{
    color: white
}


.axisWhite line{
stroke: white;
}

.axisWhite path{
stroke: white;
}

.axisWhite text{
    fill: white;
}  

.songs {
    background-color: blue;
    white-space: normal;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
    pointer-events: none;
    color: white;
    float: left;
}