body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
}



h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

h2 {
    color: white;
    font-family: 'Lato', sans-serif;
    background: #E805F6;
    box-shadow: 0px 0px 15px #E805F6;
    border-radius: 20px;
    padding: 5px;

}

div.scroll { 
    margin:4px, 4px; 
    padding:4px; 
    background-color: green; 
    width: 500px; 
    height: 110px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify; 
} 

h4 {
    font-family: 'Lato', sans-serif;
    color: white;
    width: 500px;
    font-weight: 200;
}

h4.radar-song1 { 
    color:#F834BE ;
    font-weight:bold;
    font-family:'Lato';
    font-size:20; 
}
h4.radar-song2 { color: orange ;font-weight:bold;font-family:'Lato';font-size:20 }

p{
    font-family: 'Lato', sans-serif;
    color: white;
    width: 700px;

}

subheading {
    font-family: 'Lato', sans-serif;
    color: white 
}

label{
    font-family: 'Lato', sans-serif;
    color: white
}


.axisWhite line{
stroke: white;
}

.axisWhite path{
stroke: white;
}

.axisWhite text{
    fill: white;
}  

.songs {
    background-color: #E805F6;
    font-family: 'Lato', sans-serif;
    white-space: normal;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    overflow-y: hidden;
    pointer-events: none;
    color: white;
    float: left;
    box-shadow: 0px 0px 5px #E805F6;
    margin: 15px;
    overflow-x: hidden;
}

/* Next & previous buttons */
.prevAll, .nextAll {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.nextAll {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prevAll {
  left:3%;
}

/* On hover, add a black background color with a little bit see-through */
.prevAll:hover, .nextAll:hover {
  background-color: rgba(70, 71, 68, 0.336);
}  

  .progress-container {
    z-index: 15;
  position: fixed;
  width: 5px;
  background: black;
  height: 120%;
  transform: translate(-12px, -80px);
  }
  
  .progress-bar {
    background: #4AE7E3;;
    height: 8px;
  }

/* width */
.hist::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .hist::-webkit-scrollbar-track {
    border-radius: 5px;
  }
   
  /* Handle */
  .hist::-webkit-scrollbar-thumb {
    background: #E805F6; 
    border-radius: 5px;
  }

  .hist::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }

  .muzieknootjes {
    display: block;
    margin: auto;
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 200px;
    border: 0px solid #000;
  }
  
  .noot-1,
  .noot-2,
  .noot-3,
  .noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 35px;
    opacity: 0;
  }
  
  .noot-1 {
    top: 60px;
    left: 0;
    animation-delay: 0.5s;
  }
  
  .noot-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
  }
  
  .noot-3 {
    top: 90px;
    left: 60%;
    animation-delay: 1.5s;
  }
  
  .noot-4 {
    top: 40px;
    left: 90%;
    animation-delay: 2s;
  }
  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }


  .speech-bubble {
    position: absolute;
    left:2%;
    top:250%;
    background: white;
    border-radius: .4em;
    height:150px;
    width: 200px;
  }
  
  .speech-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-left-color:white;
    border-right: 0;
    border-bottom: 0;
    margin-top: -16.5px;
    margin-right: -33px;
  }
  
  

#histogram text {
  font-family: 'Helvetica';
  font-size:12px;
  font-weight: bold;
  stroke: none;
  fill:#BFEFFF;
  alignment-baseline: middle;
}

circle.center {
  stroke-width: 2px;
  stroke: #BFEFFF;
  fill: #145B60;
}

polygon.area {
  stroke: #BFEFFF;
  stroke-width: 2px;
  fill:none;
  fill:#4493AA;
  fill-opacity:.4;
}

.tooltip{
    position:fixed;
    display:none;
    width: 250px;
    height: auto;
    padding: 10px;
    text-align: left;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-size:15px;
}

.info {
  bottom: 5%;
  position: absolute; 
  left:46%;
  background: white;
  color: black;
  padding: 5px;
}

#static-container{
 width: 100px;
 height: 100px
}


.legend {
  fill:white;
}